
.about{
  min-height: 774px;
  padding: 20px ;
  background: white;
  -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
}
