.row{
  margin: 0;
}

.card-body{
  position: relative;
}

.product-name{
  font-size: 0.85rem;
  font-weight: bold;
  color: #716d6d;
}

.product-price{
  color: #ef9700;
  font-weight: bold;
  bottom: 15px;
  width: 137px;
  position: absolute;
}
