<div class="container product-item">
  <div class="row content" *ngFor="let p of phone | async" >
    <div class="col-md-4 col-sm-12 image-slide">
        <img class="img-fluid ml-auto"  src="{{p.images}}"/>
        <div class="gallery">
          <div class="col-md-4 col-4 thumb">
            <img class="img-thumbnail " src="{{p.images[0]}}" />
          </div>
          <div class="col-md-4 col-4 thumb">
            <img class="img-thumbnail " src="{{p.images[1]}}" />
          </div>
          <div class="col-md-4 col-4 thumb">
            <img class="img-thumbnail " src="{{p.images[2]}}" />
          </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 properties">
      <h5>{{p.name}} - {{p.releaseDate}}</h5>
      <table class="table">
        <tbody>
          <tr>
            <td>Brand</td>
            <td>{{p.brand}}</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{p.weight}}</td>
          </tr>
          <tr>
            <td>Dimensions</td>
            <td>{{p.dimensions}}</td>
          </tr>
          <tr>
            <td>Operating System</td>
            <td>{{p.os}}</td>
          </tr>
          <tr>
            <td>Battery Power</td>
            <td>{{p.batteryPower}}</td>
          </tr>
          <tr>
            <td>RAM </td>
            <td>{{p.ram}}</td>
          </tr>
          <tr>
            <td>Screen Size</td>
            <td>{{p.screenSize}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
