/* You can add global styles to this file, and also import other style files */
body{
  background: -webkit-linear-gradient( #eaeaea 0%,#ffffff 100%) !important;
  min-height: 100vh !important;
}
#top-line{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 3px;
  z-index: 1;
  background: #ef9700;
}
nav{
  min-height: 100px;
  font-family: fantasy !important;
}

@media(min-width:991.98px){
  nav ul li{
    margin-left: 40px;
  }
}

.navbar-brand{
  font-size: 3rem !important;
}



footer{
  height: 100px;
}
footer .container{
  height: 100%;
  background: -webkit-linear-gradient( #eaeaea 0%,#ffffff 100%) ;
  border-top: 1px dashed #d6d4d4;
  line-height: 100px;
}
footer .container p{
    vertical-align: middle;
    display: inline-block;
    line-height: 100%;
    margin: 0px !important;
    color: #B2B0B1;
    font-size: 0.8rem;
}
