<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row vcenter">
          <div class="col">
            <h3>Phone 1</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            </p>
            <button type="button" class="btn button">Read More</button>
          </div>
          <div class="col">
            <img class="responsive ml-auto" style="width:75%; float:right" src="assets/img/phone.png"/>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row vcenter">
          <div class="col">
            <h3>Phone 2</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            </p>
            <button type="button" class="btn button">Read More</button>

          </div>
          <div class="col">
              <img class="responsive" style="width:75%; float:right" src="assets/img/phone2.png"/>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row vcenter">
          <div class="col">
            <h3>Phone 3</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            </p>
            <button type="button" class="btn button">Read More</button>

          </div>
          <div class="col">
            <img class="responsive" style="width:75%; float:right" src="assets/img/phone2.png"/>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="category">
        <h5 class="title">CATEGORIES</h5>
        <form id="filter">
          <ul>
            <li ><a routerLink = "" (click)="getBrand(' ')">All</a></li>
            <li><a routerLink = "" (click)="getBrand('Apple')">Apple</a></li>
            <li><a routerLink = "" (click)="getBrand('LG')" >LG</a></li>
            <li><a routerLink = "" (click)="getBrand('Samsung')" >Samsung</a></li>
            <li><a routerLink = "" (click)="getBrand('Huawei')" >Huawei</a></li>
            <li><a routerLink = "" (click)="getBrand('Xiaomi')" >Xiaomi</a></li>
            <li><a routerLink = "" (click)="getBrand('CAT')" >Cat</a></li>
            <li><a routerLink = "" (click)="getBrand('HTC')" >HTC</a></li>
            <li><a routerLink = "" (click)="getBrand('Google')" >Google</a></li>
          </ul>
        </form>

      </div>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="featured">
        <h5 class="title">FEATURED PRODUCTS</h5>
        <div class="products">
          <div class="row">
            <div *ngFor="let product of products | async" class="col-6 col-md-4 col-lg-3 product-item" >
              <a routerLink="product/{{product.id}}" (click)="setTitle(product.name )" >
                <div class="card" >
                  <img class="card-img-top product-image"  src="{{product.images}}" alt="Card image cap">
                  <div class="card-body">
                    <span class=product-name>{{product.name }} </span>
                    <span class="product-price">{{product.releaseDate}}</span>
                    <!--  | date:'shortDate' -->
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
