.carousel{
  background: black;
  height: 400px;
  overflow: hidden;
  color: #f8f9fa;
  font-family: sans-serif;
}

.vcenter {
  height: 400px;
  align-items: center;
}

.carousel p{
  font-size: 0.75rem;
  color: #bfbfbf;
}

.button{
  background: #F49A1D;
  border-color: #F49A1D;
  color:white;
  padding: 5px 20px !important;
}

section{
  min-height: 765px;
}

section.container{
  padding-top: 3em;
  padding-bottom: 3em;
}

.category{
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
  font-family: sans-serif;
}

.title{
  height: 40px;
  width: 100%;
  padding: 6px 20px;
  margin-bottom: 0px;
}

.category .title{
  background: #383838;
  color: #a2a2a2;
}

.category ul{
  padding: 0;
  background-color: #EEECED;
}

.category ul li{
  list-style-type: none;
  width: 100%;
  height: 40px;
  font-size: 1.14rem;
  border-top:  1px solid white;
}

.category ul li:hover{
  background: #CCCCCC;
}

.category ul li a{
  color: #B2B0B1 !important;
  height: 100%;
  padding: 6px 20px;
  text-decoration: none;
  display: block;
}

.category ul li a:hover{
  color: #A4A4A4 !important;
}

.featured{
  height: auto;
}

.featured .title{
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
  background: #CCCCCC;
  color: #919191;
}

.products{
  margin:  20px auto;
}

.card{
  height: 248px;
}

.card-body{
  position: relative;
}

.product-item{
  padding: 0px;
}

.product-item a {
  text-decoration: none;
}

span{
  display: block;
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.product-name{
  font-size: 0.85rem;
  font-weight: bold;
  color: #716d6d;
}

.product-image{
  width: 50%;
  margin: auto;
}

.product-price{
  color: #ef9700;
  font-weight: bold;
  bottom: 5px;
width: 90%;
  position: absolute;
}
